if condition :
    Statement

In [ ]:
x = 0
y = 5

if x<y:
  print("yes")

yes

In [ ]:
if x:
  print ("yes")

In [ ]:
if y :
  print('yes')
  print('another yes')

yes
another yes

In [ ]:
if 'foo' in ['foo', 'bar', 'baz']:
  print('Outer condition is true')

  if 10 <20 :
    print('inner condition 1')
  print('Between inner condition')

  if 10 < 20 :
    print('inner condition 2')
  print('end outer condition')

Outer condition is true
inner condition 1
Between inner condition
inner condition 2
end outer condition

In [1]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [2]:
x = 120
if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [3]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku :
    print('beli buku')
else :
    print('uang tidak cukup')

uang tidak cukup

In [4]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku :
    print('beli buku')
elif uang > hargaMajalah :
    print('beli mahalah')
else :
    print('uang tidak cukup')

uang tidak cukup

In [5]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
else:
    print('i dont know you are')

Hello Hacktiv8

In [8]:

if 'a' in 'bar' :
    print(' foo')
elif 1/0:
    print('this wont happen')
elif var :
    print('This wpnt either')

 foo

In [9]:
if 'f' in 'foo' : print('1');print("2");print("3")

1
2
3

In [10]:
x = 3
if x==1:print('foo');print('bar'); print('baz')
elif x ==2 : print('qux'); print('quux')
else :print('corge');print('grault')

corge
grault

In [ ]:
n = 5
while n>0 :
  n -= 1
  print(n)

4
3
2
1
0

In [11]:
n = 5
while n>0 :
  n-= 1
  if n == 2 :
    break
  print(n)
print('loop ended')

4
3
loop ended

In [12]:
n = 5
while n > 0 :
   n -= 1
   if n == 2:
          continue
   print(n)
print('loop ended')

4
3
1
0
loop ended

In [13]:
n = 5
while n > 0 :
   n -= 1
   print(n)
else :
    print('loop ended')

4
3
2
1
0
loop ended

In [14]:
n = 5
while n > 0 :
   n -= 1
   print(n)
   if n == 2:
          break
else:
    print('loop done')

4
3
2

In [ ]:
if age < 18 :
    if gender == 'M' :
        print('Son')
    else:
        print('daughter')
elif age >= 18 and age < 65 :
        if gender == 'M' :
            print('father')
    else:
        print('mother')
else :
        if gender == 'M' :
            print('grandfather')
    else:
        print('grandmother')

In [15]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b= ['baz', 'qux']
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [16]:
n = 5
while n> 0 : n -=1; print(n)

4
3
2
1
0

In [17]:
a = ['foo', 'bar', 'baz']

for i in a :
    print(i)

foo
bar
baz

In [20]:
d = {'foo': 1, 'bar':2, 'baz': 3}
for k in d :
    print(k)

foo
bar
baz

In [21]:
for k in d :
    print(d[k])

1
2
3

In [22]:
for k in d.values():
    print(k)

1
2
3

In [23]:
for k,v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

In [24]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [25]:
x = range(5)

for n in x :
    print(n)

0
1
2
3
4

In [27]:
for i in ['foo', 'bar','baz','qux']:
    if 'b'in i :
        break
    print(i)

foo

In [28]:
for i in ['foo', 'bar','baz','qux']:
    if 'b'in i :
        continue
    print(i)

foo
qux

In [29]:
for i in ['foo', 'bar','baz','qux']:
    print(i)
else :
    print('Done.')

foo
bar
baz
qux
Done.

In [31]:
for i in ['foo', 'bar','baz','qux']:
    if i == ' bar':
        break
    print(i)
else:
    print('Done')

foo
bar
baz
qux
Done

In [33]:
temp = input('Ketikan temperatur yang ingin di konversi :')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round(9*degree)/5 + 32)
elif i_convertion == "F":
    result = int(round((degree - 32)*5/9))
else : 
    print("masukan input yang benar")

print(' temperaturnya adalah', result,'derajat')

 temperaturnya adalah 7 derajat

In [34]:
while True :
    msg = input('ketikan Karakter:').lower()
    print(msg)
    if msg == 'stop':
        break

wawa