Data Type

In [ ]:
print(123+1)

124

In [ ]:
print(type(10))

<class 'int'>

In [ ]:
print(type(2.4))

<class 'float'>

In [ ]:
print(type("Hello there"))

<class 'str'>

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
n = 1
a=b=c=300

var = "aaa"
print(var)

var = 123
print(var)

print(n)
print(a)
print(b)
print(c)

aaa
123
1
300
300
300

In [ ]:
a=6
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

11
1
30
1.2

comparison Operator

In [ ]:
x = 10
y = 20

print(x==y)
print(x != y)
print(x <= y)
print(x >= y)

False
True
True
False

str manipulation

In [ ]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t+u)
print('hactib'+ 'ptp')
print(s*4)
print(s in 'that food for us')
print(s in 'that good for us')

foobarbaz
hactibptp
foofoofoofoo
True
False

In [ ]:
s = 'HackTIV8'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

List

In [ ]:
a = ['foo', 'bar', 'baz','qux']
b = ['baz', 'qux', 'bar', 'foo']
c = [21.43,'foobar',3,False,3.14]
print(a)
print(a==b)
print(c)
print(a[0])
print(a[3])
print(a[-1])
print(a[-3])
print(a[2:5])
print(a+['grault','garply'])
print(a*2)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux']
False
[21.43, 'foobar', 3, False, 3.14]
foo
qux
qux
bar
['baz', 'qux']
['foo', 'bar', 'baz', 'qux', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'foo', 'bar', 'baz', 'qux']
4
bar
qux

In [ ]:
a[2] = 10
a[-3] = 'ooo'
print(a)

['foo', 'ooo', 10, 'qux']

In [ ]:
del a[3]
print(a)

['foo', 'ooo', 10]

Dictionary

In [ ]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red SOx',
    'Minnesota':'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle':'Mariners'
}

In [ ]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [ ]:
MLB_team['Kansas City'] ='Royals'
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red SOx',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [ ]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red SOx',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [ ]:
person = {}
type(person)

person['frame'] = 'Hack'
person['inflame'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['Children'] = ['Ralph', 'Betty', 'Joey']
person['Pet'] = {'dog': 'FIdo', 'cat': 'Fox'}

person

{'frame': 'Hack',
 'inflame': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'Children': ['Ralph', 'Betty', 'Joey'],
 'Pet': {'dog': 'FIdo', 'cat': 'Fox'}}

In [ ]:
d = {'a': 10, 'b': 20, 'c':30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Line Continuation

In [ ]:
person1 = 40
person2 = 16
person3 = 72

someone_is_of_working_age = (person1 >= 18 and person1 <= 65) or (person2 >=18 and person2 <= 65) or (person3 >=18 and person3 <= 65)
someone_is_of_working_age

True

In [ ]:
someone_is_of_working_age = (
    (person1 >= 18 and person1 <= 65) or
    (person2 >=18 and person2 <= 65) or
    (person3 >=18 and person3 <= 65)
)
someone_is_of_working_age

True